body{
    background-color: #111;
    color:white
}
p{
    color: white;
    text-align: justify;
}
h1{
    text-align: center;
}
.par{
}
#p2{
    color:lightgray;
    font-style: italic;
}

.central{
    background-color: #333;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    /* margin: 50px; */
}
.title{
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #666;
    padding:30px 100px
}