.t1{
    font-size: 55px;    
    margin: 0 auto ;
    width: 600px;
    text-align: left;
    font-weight: normal;

}
.t2{
    font-size: 25px;
    text-align: left;
    width: 600px;
    margin: 0 auto ;
    color: #4e4e4e;
    font-weight: normal;
}
.espaço1{
    margin: 0 auto;
    width: 40px;
    height: 20px;

}
.espaço2{
    height: 50px;
}
.esp{
    margin: 0 auto;
    width: 600px;

}
p{
    font-size: 15px;
    font-weight: normal;
    margin: 0 auto;
    width: 600px;
    text-align: left;
    margin-bottom: 10px;
}
img{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    margin: 2px;
    background-color: rgb(163, 163, 163);
}
a{
    width: 1px;
    margin-bottom: 1px;
}
.bold{
    font-weight: bold;
}